.tenseCardCont {
  width: 50%;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: -1px;
  border-right: 1px solid #eee;
} 

@media (max-width: 550px) {
  .tenseCardCont {
    width: 100%;
  }
}

.cardLink {
  text-decoration: none;  
  font-size: 14px;
}