@import "../../GameLayout.css";

.icon {
  /*border-radius: 20px;
  font-size: 30px;
  font-weight: bold;
  padding: 1px;*/
}

.correctIcon {
  background-color: #10bb18;
  /*border: 3px solid #10bb18;*/
}

.inCorrectIcon {
  background-color: #b74343;
  /*border: 3px solid #b74343;  */
}

.scoreText {
  font-size: 26px;
}