.optionsCont {
  width: 33%;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: -1px;
  border-right: 1px solid #eee;
} 

@media (max-width: 1100px) {
  .optionsCont {
    width: 50%;
  }
}

@media (max-width: 550px) {
  .optionsCont {
    width: 100%;
  }
}
